/* src/app/components/Footer.module.css */

.footer {
    background-color: #006769;
    color: white;
    padding: 2rem;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
  }
  
  .leftSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .logo {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
  }
  
  .logoLink {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
  }
  
  .textContainer {
    display: flex;
    flex-direction: column;
    margin-right: 0.5rem;
  }
  
  .logoTextTop,
  .logoTextBottom {
    font-size: 1.2rem;
    line-height: 1.2;
    font-weight: bold;
  }
  
  
  .socialMedia {
    display: flex;
    gap: 1rem;
    color: white;
    text-decoration: none;
  }
  .socialMedia a {
    text-decoration: none;
  }
  
  .rightSection {
    display: flex;
    gap: 2rem;
  }
  
  .column {
    display: flex;
    flex-direction: column;
  }
  
  .column p {
    margin-bottom: 0.2rem;
    font-weight: bold;
    font-size: 1.2rem;
  }
  
  .column ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .column li a {
    color: white;
    text-decoration: none;
  }
  
  .column li a:hover {
    text-decoration: underline;
  }
  