@import 'bootstrap/dist/css/bootstrap.css';

body {
  font-family: 'Roboto', sans-serif;
}

.bg-lightyellow {
  background-color: #E6FF94;
}
.subtitle {
  color: #006769;
  font-size: 2rem;
  font-weight: bold;
  margin-right: 1rem;
}
.titulo{
  color: #006769;
  font-size: 1.3rem;
  font-weight: bold;
  margin-right: 1rem;
}