@import 'bootstrap/dist/css/bootstrap.css';

body {
  font-family: 'Roboto', sans-serif;
}

.bg-lightyellow {
  background-color: #E6FF94;
}
.subtitle {
  color: #006769;
  font-size: 2rem;
  font-weight: bold;
  margin-right: 1rem;
}
.titulo{
  color: #006769;
  font-size: 1.3rem;
  font-weight: bold;
  margin-right: 1rem;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}