@import 'bootstrap/dist/css/bootstrap.css';

body {
  font-family: 'Roboto', sans-serif;
}

.bg-lightyellow {
  background-color: #E6FF94;
}
.subtitle {
  color: #006769;
  font-size: 2rem;
  font-weight: bold;
  margin-right: 1rem;
}
.titulo{
  color: #006769;
  font-size: 1.3rem;
  font-weight: bold;
  margin-right: 1rem;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

form {
  margin-top: 20px;
}

form div {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
  
}

input, textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border-color:#006769;
  border-radius: 4px ;
  border-width: 1px;
}

button {
  padding: 10px 20px;
  background-color: #40A578;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #218156;
}

.comments {
  margin-top: 20px;
}

.comments div {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
}
.comments-container {
  border: 1px solid rgba(0, 103, 105, 0.2); 
  padding: 20px; 
  border-radius: 8px; 
  background-color: #ffffff; 
  margin-top: 20px; 
}